name: Link Checker

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: '0 3 * * 1' # toda segunda 03:00 UTC

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout submodules
        run: |
          git submodule update --init --recursive --depth 1

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.152.2'
          extended: true

      - name: Build site (Hugo)
        run: |
          echo "Working directory: $(pwd)"
          ls -la
          ls -la themes/ || true
          ls -la themes/PaperMod || true
          hugo --gc --minify

      - name: Lychee Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress --base ./public --config .lychee.toml "public/**/*.html"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload lychee report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: lychee-report
          path: lychee-report.md
